.product {
	margin: 10px;
	padding: 20px;
	background-color: white;
	border: 1px solid red;
	z-index: 1;
	/*  */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product_info {
	width: 40%;
	margin-bottom: 15px;
	border: 1px solid blue;
	/*  */
	width: calc((110% / 4) - 0%);
	margin: 2%;
}

.product_price {
	margin-top: 5px;
}

.product img {
	max-height: 400px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
}

.product button {
	background-color: #f0c14b;
	border: 1px solid;
	border-color: #a88734 #9c7e31 #846a29;
	width: 10rem;
	display: block;
	margin: auto;
}
